.header{
    width: 100%;
    height:60px;
    text-align: center;
}

/* .bg{
    background-image: url("https://ts1.cn.mm.bing.net/th?id=OIP-C.7jqz2qCqUOqwPlutwve_9gHaOY&w=179&h=348&c=8&rs=1&qlt=90&o=6&dpr=1.8&pid=3.1&rm=2") ;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    -ms-background-size:cover;
} */


*{
    margin: 0; 
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-weight: 520;
    font-family: 微软雅黑;
}


.nav2{
    display: flex;
    list-style: none;
    line-height: 35px;
    font-size: 25px;
    font: normal bold 20px "微软雅黑";
    background-color: #cb1a1a;
    line-height: 80px;

}

/* 鼠标移入 */
.first:hover{
    overflow: visible;
    background-color: #4d1313;
    color: white;
    z-index: 999;
    cursor: pointer;

}
.second:hover{
    overflow: visible;
    background-color: #4d1313;
    color: white;
    z-index: 999;
    cursor: pointer;
}

.three:hover{
    overflow: visible;
    background-color: #4d1313;
    color: white;
    z-index: 999;
    cursor: pointer;
}

.fourth:hover{
    overflow: visible;
    background-color: #4d1313;
    color: white;
    z-index: 999;
    cursor: pointer;
}

.fifth:hover{
    overflow: visible;
    background-color: #4d1313;
    color: white;
    z-index: 999;
    cursor: pointer;
}


.sixth:hover{
    overflow: visible;
    background-color: #4d1313;
    color: white;
    z-index: 999;
    cursor: pointer;
}


    .row h3{
        color: brown;
    }
    /* .img1{
        width: 100px;
        height: 200px;
        padding: 0;
        width: 15%;
        float: right;
    }
    .img2{
        width: 100px;
        height: 200px;
        padding: 0;
        width: 15%;
        float: left;
    } */